.liveEvents {
    background: url('../img/icons.png') 0 -216px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.upcoming {
    background: url('../img/icons.png') 0 -696px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.iconCricket {
    background: url('../img/icons.png') 0 -480px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}
.iconTennis {
    background: url('../img/icons.png') 0 -24px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.icon-football {
    background: url('../img/icons.png') 0 -288px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.icon-jackpot {
    background: url('../img/icons.png') 0 -873px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.icon-casino {
    background: url('../img/icons.png') 0 -456px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.icon-election {
    background: url('../img/icons.png') 0 -336px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.aviator {
    background: url('../img/icons.png') 0 -600px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.lucky7 {
    background: url('../img/icons.png') 0 -192px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.crazytime2 {
    background: url('../img/icons.png') 0 -504px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.twinwins {
    background: url('../img/icons.png') 0 -672px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.cricketwar {
    background: url('../img/icons.png') 0 -432px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.magiclamp {
    background: url('../img/icons.png') 0 -168px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.party {
    background: url('../img/icons.png') 0 -408px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.akbarromeowalter {
    background: url('../img/icons.png') 0 -552px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.bookofgold {
    background: url('../img/icons.png') 0 -576px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}

.dragontiger {
    background: url('../img/icons.png') 0 -360px !important;
    background-repeat: no-repeat !important;
    height: 24px !important;
    width: 24px !important;
}