.app-wrapper {
    background-color: #0a0a0a;
    //background-color: var(--app-bg);
    min-height: 95vh;
    padding: 0rem;
    padding-bottom: 0;
    position: relative;

    .main-wrapper {
        position: relative;
        padding: 75px 0px 0px;
        transition: 0.3s;
        padding-left: 215px;
        padding-right: 273px;
        display: flex !important;
        flex-wrap: wrap !important;

        .main-content-section {
           
            min-height: calc(-100px + 100vh);
            margin-bottom: 10px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .news-feed {
                color: var(--blue-color);
                display: flex;
                font-size: 12px;
                padding: 0.4rem 0rem;
                width: 100%;
                .news-title{
                    font-size: 0.85rem;
                    font-weight: 400;
                    white-space: nowrap !important;
                    padding: 0 0.3rem;
                }
            }
        }
    }


}

._outletWidth{
    //width: 100%;
    width: calc(-110px + 90vw);
}

.sidebarCloseClass{
    margin-left: -8rem;
}

@media only screen and (max-width: 1041px){
    .sidebarCloseClass{
        margin-left: 0rem;
    }
    .app-wrapper{
        .main-wrapper{
            padding-left: 0;
            padding-right: 0;
            .main-content-section{
                min-height: auto;
                margin-left: 0rem;
            }
        }
    }
}
